.hero-section {
    height: 45vh;
    background: url('../assets/cute-playful-footprint-pattern-background-fauna-fun_1017-44713.avif');
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
  
.overlay {
    width: 100%;
    height: 45vh;
    background-color: rgba(155, 86, 8, 0.5);
}
  
.welcome-text h1 {
    font-family: "Acme", sans-serif;
    color: #fff;
    padding-top: 120px;
    font-size: 60px;
}
  
.welcome-text p {
    font-family: "Oswald", sans-serif;
    color: #fff;
    padding-top: 30px;
    font-size: 30px;
}
  
.card-text {
    font-family: "Acme", sans-serif;
    text-align: center;
    padding-top: 20px;
}
  
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-card h2{
    font-family: "Acme", sans-serif;
}

.product-card p{
    font-family: "Oswald", sans-serif;
}
  
.product-card {
    border-radius: 20px;
    padding: 10px;
    width: 32%;
    height: 40vh;
    text-align: center;
    background-color: #ffebdb;
    box-shadow: 0 4px 8px rgba(255, 136, 0, 0.3);
    transition: transform 0.2s;
}
  
.product-card:hover {
    transform: scale(1.05);
}
  
.product-image {
    margin-top: 20px;
    width: 30%;
    height: 17vh;
    margin-bottom: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    padding: 20px;
}
  
.footer-content {
    max-width: 100%;
    margin: 0 auto;
}
  
.footer-content p {
    font-family: "Oswald", sans-serif;
    margin: 5px 0;
}

.product-button {
    background-color: #F19600;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
}

.product-button a{
    text-decoration: none;
    color: #FFFFFF;
}
  
.product-button:hover {
    background-color: #7a4b00;
}


.search-bar{
    padding-left: 10px;
    border-radius: 15px;
    border: solid 1px #F19600;
    width: 35%;
    height: 5vh;
}