
.navbar-nav .nav-link.nav-text {
    font-family: "Acme", sans-serif;
    font-size: 23px;
    color: #FEFFDB ; 
    text-decoration: none; 
}

.navbar-nav .nav-link.nav-text:hover {
    color: #F19600 ;
}


.nav-dropdown .dropdown-item.nav-sign {
    font-family: "Acme", sans-serif;
    color: rgb(0, 0, 0) ; 
    text-decoration: none;
}

.nav-dropdown .dropdown-item.nav-sign:hover {
    color: rgb(216, 146, 17) ;
    text-decoration: none;
}


.nav-dropdown .dropdown-toggle {
    font-family: "Acme", sans-serif;
    font-size: 23px;
    color: white ; 
}

.nav-dropdown .dropdown-toggle::after {
    color: white ; 
}

.nav-dropdown .dropdown-toggle:hover,
.nav-dropdown .dropdown-toggle:focus {
    color: #F19600 ;
}


.back-round {
    padding: 15px;
    height: 10vh;
    opacity: 1;
    background-color: #393939;
}
