.sell-form {
    font-family: "Acme", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: #393939;
    border-radius: 20px;
}
  
.sell-form label {
    margin-bottom: 8px;
    color: #FFFFFF;
    margin-top: 2px;
}
  
.sell-form input,
.sell-form textarea {
    border-radius: 15px;
    width: 95%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #F19600;
}
  
.sell-form button {
    border-radius: 15px;
    background-color: #F19600;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s, color 0.3s;
}
  
.sell-form button:hover {
    background-color: #7a4b00;
}

.sell-text h1{
    padding-top: 15px;
    font-family: "Acme", sans-serif;
    text-align: center;
}

.sell-text p{
    padding-top: 10px;
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    text-align: center;
}

.sell-back{
    background: url('../assets/seamless-colorful-pattern-with-dogs-paws-background-pet-shop-veterinary-clinic-pet-store-zoo-shelter-flat-style-design-vector-illustration_562639-773.avif');
    height: 90vh;
}