.in-text{
    padding-bottom: 25px;
    text-align: center;
    color: white;
}

.in-info{
    text-decoration: none;
    color: white;
}

.in-info:hover{
    text-decoration: underline;
    color: blue;
    
    
}

.btn-2{
    margin-top: 20px;
}

.signIn{
    color: white;
}

