.form{
    background: url('../assets/cute-playful-footprint-pattern-background-fauna-fun_1017-44713.avif');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
}

.form-container {
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 30%;
    background-color: #dd9858;
    padding: 30px; 
}

.up-text{
    padding-bottom: 25px;
    color: #393939;
    text-align: center;
}

.btn-1{
    margin-top: 20px;
}

